html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee';
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 2px solid #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.store-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}
.screenshots img {
    height: 371px;
    width: 660px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.skills_icons img {
    height: 50px;
    width: 50px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: left;
}
.skills_icons a {
    text-decoration: none;
}
.skills_icons img:hover {
    opacity: 0.8;
}
.contact_info {
    font-size: 18pt;
    text-align: center;
}
.software img {
    height: 80px;
    width: 80px;
    text-align: left;
}
#header {
    background-image: url("images/header.jpg");
    background-size: cover;
}
#header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#shape_wars_header {
    background-image: url("images/header.jpg");
    background-size: cover;
}
#shape_wars_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#shape_wars_header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#sea_raiders_header {
    background-image: url("images/SR.png");
    background-size: cover;
}
#sea_raiders_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#sea_raiders_header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#to_do_lister_header {
    background-image: url("images/header.jpg");
    background-size: cover;
}
#to_do_lister_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#to_do_lister_header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#realism_mod_header {
    background-image: url("images/header.jpg");
    background-size: cover;
}
#realism_mod_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#realism_mod_header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#botteam_header {
    background-image: url("images/header.jpg");
    background-size: cover;
}
#botteam_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#botteam_header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#gloveteam_header {
    background-image: url("images/header.jpg");
    background-size: cover;
}
#gloveteam_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#gloveteam_header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#black_hole_adventure_header {
    background-image: url("images/header.jpg");
    background-size: cover;
}
#black_hole_adventure_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#black_hole_adventure_header p {
    font-size: 25pt;
    color: #ffffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#spikes_header {
    background-image: url("images/SP.png");
    background-size: cover;
}
#spikes_header img {
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}
#spikes_header p {
    font-size: 25pt;
    color: #00ffff;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
table {
    width: 100%;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #23f594;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: center;
    padding-bottom: 10px;
    color: grey;
}